button{
    height: 50px;
    width: 150px;
    background-color: green;
    margin-bottom: 50px;
}

.wrapper{
    height: 400px;
    width: 400px;
    border: 1px solid black;
    position: relative;
}

.box{
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
}