

body{
    position: relative;
}

.box{
    box-sizing: border-box;
    width: 400px;
    height: 100%;
    overflow: scroll;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
}

.box1{
    box-sizing: border-box;
    width: 400px;
    height: 350px;
    overflow: scroll;
    margin: 0 auto;
    margin-top: 50px;
    padding: 10px;
}


button{
    height: 20px;
    width: 80px;
    border: 1px solid black;
    background-color: rgb(143, 142, 142);
    display: block;
    margin: 0 auto;
    margin-top: 30px;


}

.but{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #000;
    position: fixed;
    top: 100px;
    left: 20px;
    display: none;
}