button{
    margin: 30px;
    height: 20px;
    width: 100px;
    color: white;
    background-color: rgb(15, 11, 11);
}

.box {
    height: 200px;
    width: 200px;
    background-color: rgb(65, 120, 236);
    margin: 20px;

}
.circle {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: rgb(221, 19, 19);
    margin: 30px 0 30px 0;
}
.wrapper {
}
.heart {
    width: 75px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(26, 211, 9);
    margin: 30px 0 30px 0;
}
.black {
    width: 400px;
    height: 100px;
    background-color: rgb(178, 20, 199);
}